* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2a2a;
    color: lightgrey;
    justify-content: center;
    display: flex;
}

.container {
    min-width: 20rem;
    max-width: 64rem;
    width: 100%;
    margin: 200px auto;
}

.table {
    border: 1px solid lightslategray;
    border-radius: 10px;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

.file_pdf {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid lightslategray;
    width: 40%;
}

.table_name {
    border-bottom: 1px solid lightslategray;
    padding: 20px;
    text-align: left;
}

.table_data {
    border-bottom: 1px solid lightslategray;
    padding: 20px;
    text-align: left;
    width: 471px;
}

.data {
    border-bottom: 1px solid lightslategray;
    text-align: left;
    padding: 20px;
    width: 40%;
}

.data_last {
    text-align: left;
    padding: 20px;
}

.file_pdf_last {
    text-align: left;
    padding: 20px;
}

.table-form__search {
    background: #444444;
    color: #7F7F7F;
    border: 0;
    height: 35px;
    min-width: 44px;
    width: 100%;
    border-radius: 5px;
}

.search {
    border-bottom: 1px solid lightslategray;
    text-align: right;
    padding: 20px;
    width: 20%;
}

.ellipsis {
    border-bottom: 1px solid lightslategray;
    text-align: right;
    padding: 20px;
}

.ellipsis_last {
    text-align: right;
    padding: 20px;
}

.ellipsis_top {
    padding: 20px;
    border-bottom: 1px solid lightslategray;
    text-align: right;
}