* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2a2a;
    color: lightgrey;
    justify-content: center;
    display: flex;
}

.container {
    min-width: 20rem;
    max-width: 64rem;
    width: 100%;
    margin: 200px auto;
}

.table {
    border: 1px solid lightslategray;
    border-radius: 10px;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 20px;
}

tr.table_row td, th {
    border-bottom: 1px solid lightslategray;
    padding: 20px;
}

tr.last_line td {
    padding: 20px;
}

.table_name {
    text-align: left;
}

.table_data {
    text-align: left;
    width: 471px;
}

.data {
    text-align: left;
    width: 40%;
}

.table_form__search {
    background: #444444;
    color: #7F7F7F;
    border: 0;
    height: 35px;
    min-width: 44px;
    width: 100%;
    border-radius: 5px;
    text-align: left;
    padding: 10px;
}

.search {
    text-align: right;
    padding: 10px 20px 10px 15px;
    width: 100%;
}

.dotted_menu {
    text-align: right;
}

.search_form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 0 10px 0 15px;
    border-radius: 5px;
    background: rgb(70, 69, 69);
    padding: 5px;
}

img.table_form_img {
    padding: 20px;
    max-width: 5px;
    max-height: 5px;
    background-color: yellow;
}

td.meatball_menu {
    text-align: right;
    font-size: 20px;
    font-weight: 900;
}

.caret-down {
    width: 20px;
    height: 20px;
    margin-left: 12px;
}

td.meatball_menu.filter {
    color: #5e5d5c;
}

.filter {
    color: #5e5d5c;
}